.label
{
    border-radius: 50px;
    background: #000000;
    padding: 5px 5px;
}
.unitylabel
{
    background: #764ee4;
}
.csharplabel
{
    background: #a1599b;
}
.collegelabel
{
    background: #67cf4d;
}
.htmllabel
{
    background: #ed4b2f;
}
.csslabel
{
    background: #264de4;
}
.vrlabel
{
    background: #ffffff;
    color: #000000;
}
.godotlabel
{
    background: #468cbf;
}